\begin{subfigure}[b]{5cm}
  \begin{tikzpicture}
    \begin{axis}[
      width=5cm,
      xmin=0,
      xmax={{datasetSize}},
      ymin=0,
      ymax=1,
      xticklabels={,,},
      scaled x ticks = false,
      ytick={0,0.25,0.5,0.75,1},
    ]
    \addplot[domain=0:{{datasetSize}}, samples={{samples}},unbounded coords=jump] {(1-{{a}}) - {{b}} * x^({{c}})};
    \addplot[mark=none, {{color}}] coordinates { {{#data}} ({{samplesize}},{{score}}) {{/data}} };
    \addplot[mark=none, green] coordinates {({{trueSaturation}},0) ({{trueSaturation}},1)};
    \addplot[mark=none, lime] coordinates {({{extrapolatedSaturation}},0) ({{extrapolatedSaturation}},1)};
    \addplot[only marks, mark=x, mark size=2pt] table {
      {{#anchorPoints}}
      {{x}} {{y}}
      {{/anchorPoints}}
    };
  \end{axis}
  \end{tikzpicture}
\end{subfigure}
