\begin{subfigure}[b]{5cm}
  \begin{tabular}{r|r|r|r}
    $S^*$ & $\widehat{S^*}$ & $\frac{|S^* - \widehat{S^*}|}{|D|}$ & $|S^* - \widehat{S^*}|$ \\ \hline
    {{#points}}
    \textcolor{ {{color}}}{ {{extrapolatedPoint}}} & \textcolor{ {{color}}}{ {{truePoint}}} & \textcolor{ {{color}}}{ {{relativeDiff}}} & \textcolor{ {{color}}}{ {{absoluteDiff}}} \\
    {{/points}}
  \end{tabular}
\end{subfigure}
