\begin{tikzpicture}
  \begin{axis}[
    width=0.3\linewidth,
    scaled ticks=false, tick label style={/pgf/number format/fixed},
    yticklabels={,,},
    xticklabels={,,}
  ]
  {{#points}}
  \addplot[mark=none, {{color}}] coordinates { {{#data}} ({{samplesize}},{{score}}) {{/data}} };
  {{/points}}
  \end{axis}
\end{tikzpicture}
