\setlength\tabcolsep{1pt}
\newcolumntype{C}{>{\centering\arraybackslash} m{3.75cm} }
\begin{figure*}[t]
  \centering
  \label{fig:{{AccuracyResults}}}
  \caption{ {{ caption }}(Algorithms: \textcolor{ {{colors.SimpleRandom}}}{Simple Random}, \textcolor{ {{colors.Systematic}}}{Systematic}, \textcolor{ {{colors.ClusterGMeans}}}{Cluster g-means}, \textcolor{ {{colors.ClusterKMeans}}}{Cluster k-means}, \textcolor{ {{colors.LCC}}}{LCC}, \textcolor{ {{colors.OSMAC}}}{OSMAC}, \textcolor{ {{colors.GMeansStratified}}}{g-means Stratified}, \textcolor{ {{colors.ClassStratified}}}{Class Stratified}, \textcolor{ {{colors.AttributeStratified}}}{Attribute Stratified})}
  \begin{tabular}{m{1.5cm}CCCC}
    &har&eye\_movements&cifar10&amazon\\
    SVM& {{ SVM_har }}&
    {{ SVM_eye\_movements }}&
    {{ SVM_cifar10 }}&
    {{ SVM_amazon }}\\
    Decision Tree& {{ DecisionTree_har }}&
    {{ DecisionTree_eye\_movements }}&
    {{ DecisionTree_cifar10 }}&
    {{ DecisionTree_amazon }}\\
    KNN 1& {{ KNN1_har }}&
    {{ KNN1_eye\_movements }}&
    {{ KNN1_cifar10 }}&
    {{ KNN1_amazon }}\\
    KNN 5& {{ KNN5_har }}&
    {{ KNN5_eye\_movements }}&
    {{ KNN5_cifar10 }}&
    {{ KNN5_amazon }}\\
  \end{tabular}
\end{figure*}
